<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @student.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @student.rg %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
